section {
  position: relative;
  width: 300px;
  height: 100px;
  float: none;
  text-align: center;
}
section input[type="range"] {
    position: absolute;
    left: 0;
    top: 50px;
    width: 300px;
    outline: none;
    height: 20px;
    margin: 0;
    padding: 0;
}
section input[type="range"]::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 14px;
}

#intelligence {
    margin-left: 50px;
}

.text-center {
  text-align: center;
}

.inline-block {
    display: inline-block;
}

.pull-left {
    float: left;
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}

#test-result, .dataTables_wrapper {
  margin-top: 50px;
}